AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: 'true'
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
AllowAllConstructorInitializersOnNextLine: false
IndentWidth: 4
PointerAlignment: Left
Standard: c++11
TabWidth: 4
UseTab: Never
BreakBeforeInheritanceComma: true
AccessModifierOffset: -4
ColumnLimit: 140
IndentPPDirectives: BeforeHash

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve